body {
  background: #f2f6fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
.container {
  padding-top: 155px;
  text-align: center;
 }

.container h1 {
  text-transform: uppercase;
  color: white;
  background: #ff4c4c;
  padding: 15px 20px;
 }

.container p {
  color: grey;
  font-weight: bold;
 }
